* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* global style */
.container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #005FAC;
    cursor: pointer;
}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* header */
header {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

header .banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 0;
}

.banner-content .item {
    width: 50%;
}

.item-right > .text-align-right{  
/* the text-align-right class apply because not all h1 & p tag apply this style */
    color: #FFFFFF;
    margin-bottom: 30px;
    text-align: right;
}

.item-right h1{
    font-size: 60px;
}

.item-right .button-div {
    width: 100%;
    display: flex;
    justify-content: end;
}


/* my past-failures-section */
.past-failures-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 100px;
}

.image-item {
    width: 100%;
}

.image-item img{
    width: 100%;
}

.fail-item {
    width: 100%;
    padding-left: 200px;
}

.fail-item p {
    color: #737272;
}

.fail-item i {
    font-size: 20px;
    color: #16D887;
    margin-right: 5px;
}

/* plan section */
.plan-section h2 {
    text-align: center;
}
.plan-section > div{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plan-item {
    width: 310px; 
    border-radius: 4px;
    padding: 10px;
}

.plan-logo {
    margin: 10px 0 20px 32%;
}

.plan-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.plan-description {
    font-size: 24px;
    font-weight: 500;
    color: #a2a0a0;
    text-align: center;
}

.plan-item:hover {
    box-shadow: 5px 5px 15px #dfdcdc;
}

/* my-skill section note: bonus section */
.skills-section h2{
    text-align: center;
}

.skill-group {
    margin-top: 30px;
}

.skill-group label {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.skill-group label img {
    width: 50px;
    margin-right: 20px;
}

.skill-group .skill-range {
    width: 100%;
    background-color: #ddd;
}

.skill-range .skill {
    padding: 15px 20px 15px 10px;
    font-size: 20px;
    color: #FFFFFF;
    text-align: right;
}

.c-programing {
    width: 73%;
    background-color: #0e8cba;
}

.linux {
    width: 60%;
    background-color: rgba(245, 172, 27, 0.982);
}

.photoshop {
    width: 76%;
    background-color: rgb(26, 34, 58);
}

.microsoft-office {
    width: 92%;
    background-color: #de570e;
}

/* gradient-section */
.gradient-section {
    background-image: linear-gradient(to right, rgb(0, 95, 172, 0.9), rgb(0, 95, 172, 0.1)), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.gradient-content {
    padding: 60px;
}

.gradient-content h2 {
    color: #FFFFFF;
} 

/* footer */
footer {
    background-color: #151414;

}

.footer-section {
    color: #FFFFFF;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.footer-item h3{
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-item p{
    color: #a2a0a0;
}

.footer-item .social-icon i{
    font-size: 30px;
    color: #1e97ee;
    padding: 10px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-right: 15px;
    cursor: pointer;
}

#youtube-icon {
    color: red;
}

.footer-item input[type=email] {
    background-color: #151414;
    border: 1px solid #dfdcdc;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.footer-item input[type=submit] {
    background-color: #005FAC;
    color: #FFFFFF;
}
/* end */